{% extends 'base.html.twig' %}
{% block body %}
    <div class="container col-md-10 text-center mt-3">
        <h1 class="text text-bg-warning"></h1>
        <a class="btn btn-outline-primary" href = "{{ path('add_class')}}"> Add new class</a>
        <table class="table">

        </table>
    </div>
{% endblock %}