{% extends "base.html.twig" %}
{% block body %}
    <div class="container col-md-7 text-center mt-3">
        <div class="">
        <h1 class="text text-bg-success">Submit Answer</h1>
        {{ form_start (answerForm) }}
        {{ form_end (answerForm) }}
    </div>
{% endblock %}