
{% extends "base.html.twig" %}
{% block body %}
    <div class="container col-md-7 text-center mt-3">
        <h1 class="text text-bg-success">Edit feedback</h1>
        {{ form_start (feedbackForm) }}
        {{ form_end (feedbackForm) }}
    </div>
{% endblock %}